https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto==1.2.2
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
umongo==3.0.0
requests
imdbpy
aiofiles
telegraph
pyrogram
youtube_search_python
youtube_search
ffmpeg-python
googletrans==4.0.0-rc1
carbonnow==0.0.1
Pillow>=4.2.0
string-extract
domain-extract
hashtags_extract
pyrogram==1.3.6
tgcrypto==1.2.2
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
telegraph==1.4.1
googletrans==3.1.0a0
gTTS
asyncio==3.4.3
aiohttp==3.7.4
aiofiles
requests
pyshorteners
bs4
youtube-dl
yt-dlp
wget
python-arq
ffmpeg-python
requests
ytthumb
